{% extends "layout.html" %}
{% block title %}
  {% if request.endpoint == 'user_rooms' %}
    {{ g.user.username }}'s Rooms
  {% elif request.endpoint == 'in_room' %}
    Room {{ room_name }} 
  {% else %}
	All Rooms
  {% endif %}
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if g.user %}
    {% if request.endpoint == 'user_rooms' %}
      <div class="eventbox">
        <h3>Create new room: </h3>
        <form action="{{ url_for('add_room') }}" method="post">
          <p><input type="text" name="room_name" size="60"><br>
			<input type="submit" value="Create">
        </form>
      </div>
    {% endif %}
	{% if request.endpoint == 'in_room' %}
		<ul class="messages" id="msgList">
		{% for message in messages %}
		<li>
		{{ message.author }}<small>&mdash; {{ message.pub_date|datetimeformat }}</small><br>
		{{ message.text }}
		{% else %}
		<li><em>There's no message so far.</em>
		{% endfor %}
		</ul>
		
		<div class="messagebox">
			<form name="msgbox">
			  <p><input type="text" id="message" name="message" size="60" value="" /><br>
				<input type="button" id="theButton" value="enter" />
			</form>
		</div>
		
	{% else %}
		<ul class="events">
		{% for room in rooms %}
		<li><p>
		  {{ room.room_name }}
		  <small>&mdash; {{ room.date|datetimeformat }}</small><br>
			<a class="follow" href="{{ url_for('in_room', room_name=room.room_name) }}">Enter</a>
		  {% if request.endpoint == 'user_rooms' %}
			<a class="cancel" href="{{ url_for('delete_room', room_name=room.room_name) }}">Delete Room</a>
		  {% endif %}
		  {% else %}
			<li><em>There's no room so far.</em>
		  {% endfor %}
		</ul> 
	{% endif %}
  {% endif %}
{% endblock %}
