<!doctype html>
<title>{% block title %}Welcome{% endblock %} | ZIY7 Chat Rooms</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
<div class="page">
  <h1>Chat</h1>
  <div class="navigation">
  {% if g.user %}
	{% if request.endpoint == 'in_room' %}
		<a href="{{ url_for('leave_room') }}">leave room</a> |
	{% else %}
		<a href="{{ url_for('rooms_all') }}">all rooms</a> |
		<a href="{{ url_for('user_rooms') }}">my rooms</a> |
	{% endif %}
	<a href="{{ url_for('logout') }}">sign out [{{ g.user.username }}]</a>
  {% else %}
    <a href="{{ url_for('register') }}">sign up</a> |
    <a href="{{ url_for('login') }}">sign in</a>
  {% endif %}
  </div>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="body">
  {% block body %}{% endblock %}
  </div>
  <div class="footer">
    Chat &mdash; Ziy7@pitt.edu
  </div>
</div>
