<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Layout for group pages</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../static/group.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
      <a class="navbar-brand" href="{{ url_for('leave_group') }}" method="get">HuddleUp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
			{% if request.endpoint == 'in_group' %}
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('leave_group') }}">all groups</a> 
			</li>
			{% elif request.endpoint == 'user_groups' %}
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('groups_all') }}">all groups</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('add_group') }}">Create Group</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('user_groups') }}">my groups</a> 
			</li>
			{% endif %}
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('logout') }}">sign out [{{ g.user.username }}]</a>
			</li>
        </ul>
		{% if request.endpoint == 'in_group' %}
		<form class="form-inline mt-2 mt-md-0" action="{{ url_for('add_member') }}" method="post">
          <input class="form-control mr-sm-2" type="text" name="user" placeholder="Username or Email" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Add Member</button>
        </form>
		{% endif %}
      </div>
    </nav>

    <main role="main" class="text-center">
		{% if request.endpoint == 'add_group' %}
			<div class="text-center">
				<form class="form-signup" action="{{ url_for('add_group') }}"  method="post">
				  <h1 class="h3 mb-3 font-weight-normal">Create a Group</h1>
				  <div class="form-group">
					<label for="groupName">Group Name</label>
					<input type="text" name="group_name" class="form-control" id="groupName" required autofocus>
				  </div>
				  <div class="form-group">
					<label for="input2ndPassword">Group Descriptions</label>
					<textarea type="text" name="description" class="form-control" id="input2ndPassword" placeholder="Descriptions..." rows="3"></textarea>
				  </div>
				  <button class="btn btn-lg btn-success btn-block" type="submit">Create</button>
				</form>
			</div>
		{% elif request.endpoint == 'add_task' %}
			<div class="text-center">
				<form class="form-signup" action="{{ url_for('add_task') }}"  method="post">
				  <h1 class="h3 mb-3 font-weight-normal">Add a new task</h1>
				  <div class="form-group">
					<label for="taskName">Task Name</label>
					<input type="text" name="task_name" class="form-control" id="taskName" required autofocus>
				  </div>
				  <div class="form-group">
					<label for="input2ndPassword">Task Descriptions</label>
					<textarea type="text" name="description" class="form-control" id="input2ndPassword" placeholder="Descriptions..." rows="3"></textarea>
				  </div>
				  <button class="btn btn-lg btn-success btn-block" type="submit">Add</button>
				</form>
			</div>
		{% elif request.endpoint == 'groups_all' or request.endpoint == 'user_groups'%}
			{% for group in groups %}
			<div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <h5 class="card-title">{{ group.group_name }}</h5>
                  <p class="card-text">{{ group.description }}</p>
                  <a href="{{ url_for('in_group',group_name=group.group_name) }}" class="btn btn-outline-success">Enter</a>
                </div>
              </div>
            </div>
			{% else %}
				<li><em>There's no group so far.</em>
			{% endfor %}
		{% elif request.endpoint == 'in_group' %}
			<div class="row">
			{% for list in lists %}
			   <div class="col-auto">
				<div class="card text-center">
				  <div class="card-header">
					{{ list.list_name }}
				  </div>
					{% for task in tasks %}
						<div class="card text-center">
						  <div class="card-body">
							<h5 class="card-title">{{ task.title }}</h5>
							<p class="card-text">{{ task.description }}</p>
							<div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Change State
							  </button>
								<div class="dropdown-menu">
								  <form action="{{ url_for('change_task', task_id=task.task_id)}}" method="post">
									<a class="dropdown-item" name="state" type="submit">Incomplete</a>
									<div class="dropdown-divider"></div>
								  </form>
								  <form action="{{ url_for('change_task', task_id=task.task_id)}}" method="post">
									<a class="dropdown-item" name="state" type="submit">In Progress</a>
									<div class="dropdown-divider"></div>
								  </form>
								  <form action="{{ url_for('change_task', task_id=task.task_id)}}" method="post">
									<a class="dropdown-item" name="state" type="submit">Complete</a>
								  </form>
								</div>
							</div>
						  </div>
						</div>
					{% else %}
						<li><em>There's no task so far.</em>
					{% endfor %}
					  <div class="card-footer">
							<a href="{{ url_for('add_task', list_id=list.list_id)}}" class="text-muted">Add task</a>
					  </div>
				</div>				
			   </div>
			{% else %}
				<li><em>There's no list so far.</em>
			{% endfor %}
			
			  <div class="col-auto">
				<form class="form-inline" action="{{ url_for('add_list')}}" method="post">
				  <div class="form-group mx-sm-3 mb-2">
					<label for="addList2" class="sr-only">Add List</label>
					<input type="text" class="form-control" name="title" id="addList2" placeholder="List name">
				  </div>
				  <button type="submit" class="btn btn-primary mb-2">Add List</button>
				</form>
			  </div>
			  
			  <div class="col-auto">
				<ul class="list-group">
				  <li class="list-group-item d-flex justify-content-between align-items-center">
					<h5>Members</h5>
				  </li>
				  {% for member in members %}
				  <li class="list-group-item d-flex justify-content-between align-items-center">
					{{ member.username }}
					<a class="unfollow" href="{{ url_for('remove_member', username=member.username) }}">remove</a>
				  </li>
				  {% else %}
					<li><em>There's no member so far.</em>
				  {% endfor %}
				</ul>
			  </div>			
			</div>	
		{% endif %}

    </main>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
